PASTIS24_checkpoints/
datasets/
output/
satellite_images/
__pycache__/
models/saved_models/
*.pyc
make_video_from_png.py
output_app/
outputs/
right_bottom_ar.json
test.png
top_k_accuracies_plot.png
topk_per_cls_accuracies.json
topk_per_cls_accuracies.pkl
train_and_eval/inference_CA.py
train_and_eval/validation_CA.py
utils/plot_topk_accuracy.py
wandb/
logs
grouped_top_k_accuracies.png
debug/
debug_crop_mask/
data
confusion_matrix_CA.png
.vscode/
2019_AR/
2019_AR_previous/
2019_AR_version2_wrong/
2020_AR/
app_AR_test.py
ar_cdl_grid.png
tmp